@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f1f2f7;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}