.users-online-container {

  .users-panel {
    height: 100vh;
    width: 300px;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;//$headerHeight + 20px;
    right: -300px;
    //border-radius: 5px;
    display: block;

    -webkit-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.30);

    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms;

    &.on {
      right: 0px;
    }

    .title {
      color: #fff;
      font-size: 22px;
      font-weight: 300;
      text-transform: capitalize;
    }

    .users-list {
      padding: 40px;
      color: white;
      box-sizing: border-box;

      li {
        font-weight: 300;
        font-size: 14px;
        margin: 20px 0;
        padding: 10px 15px;
        color: #d1ff33;
        border-radius: 20px;
        background: rgba(64, 64, 64, 0.5);
      }

      .user-emails {
        height: calc(100vh - 80px);
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .users-button {
      height: 80px;
      width: 30px;
      background: rgba(0,0,0,0.9);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: absolute;
      top: 50%;
      margin-top: -40px;
      left: -30px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 520px) {
        height: 30px;
        width: 30px;
      }
    }
  }
}